<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css}" />
  <link rel="stylesheet" th:href="@{/css/styles.css}" />
  <script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
  <title th:text="#{movie.details.title}">Movie Details</title>
</head>
<body class="pb-4">
<div th:insert="~{fragments :: navbar}"></div>

<div class="container pb-5">
  <div th:if="${movie != null}" class = "mb-3">
    <h1 th:text="${movie.title}">Movie Name</h1>
    <div class="card">
      <div class="card-body">
        <img th:src="@{/images/{image}(image=${movie.image})}" alt="Image of [[${movie.title}]]" class="card-img-top" style="max-height: 600px; object-fit: cover;" />

        <p class="card-text" th:text="#{card.releaseDate} + ' ' + ${movie.releaseDate}">Release Date:</p>
        <p class="card-text" th:text="#{card.rating} + ' ' + ${movie.rating}">Rating:</p>
        <p class="card-text" th:text="#{card.genre} + ' ' + ${movie.genre}">Genre:</p>
      </div>
    </div>

    <h2 th:text="#{card.cinemas}">Cinemas Showing This Movie</h2>
    <div class="row">
      <div th:each="cinema : ${movie.cinemas}" class="col-lg-3 col-md-6 col-sm-12 mb-4">
        <div class="card h-100">
          <a th:href="@{/cinema-details/{id}(id=${cinema.id})}" class="stretched-link"></a>
          <div class="card-body">
            <h5 class="card-title" th:text="${cinema.name}">Cinema Name</h5>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div th:if="${movie == null}">
    <p>Movie not found.</p>
  </div>

  <a th:href="@{/movies}" class="btn btn-light text-dark border border-dark">Back to Movies</a>
</div>

<div th:insert="~{fragments :: footer}"></div>
</body>
</html>